<% wrap_layout :master_layout do %>

    <section class="title-container clearfix" style="background: url(<%= current_page.data.immagineTestata %>) center no-repeat; background-size: cover;">
        <div class="float-center">
            <div class="row">
                <div class="small-12 columns title">
                    <span class="big">
                        <% if current_page.data.testata.prima_riga != ''  %>
                            <%= current_page.data.testata.prima_riga %><br class="show-for-large-up">
                        <% end %>
                    </span>
                    <span class="medium">
                        <% if current_page.data.testata.seconda_riga != ''  %>
                            <%= current_page.data.testata.seconda_riga %><br />
                        <% end %>
                    </span>

                    <% if current_page.data.testata.hasButton != 0  %>
                        <span>
                            <%= partial "partials/callToAction" %>
                        </span>
                    <% end %>
                </div>
            </div>

        </div>
    </section>

    <%= yield %>


<% end %>