---
title: Defibrillatore Philips - Puoi Salvare una Vita!
description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
testata:
    prima_riga: Defibrillatore Philips
    seconda_riga: Il più venduto al mondo
immagineTestata: https://lh3.googleusercontent.com/RkRXOMT7jHnoTHY7VPh6vdgkVE9O0gEkVzhWrZyHV3Jin-29JzDwCZcPqzne3jTlUqYGDR1leNpfdvZv77U0PuMJTKobkLFFwSzEuFuDasweg6PcidMPeur8Kce93MyQ0tV88Ojwf4QTySyOSonF_Qc2rwVG98pmkbDHOhKclxh7888Me6d5owtU72MeAlegGTP0orjv70yUcTcAi7QqsUl1wcCigTJk7DmgYAuxhNCXih96SipzfNNDEw1ZhZM1JZE7Sd1U0-kW4EvO_niNTSii4iDzk-OJdHtW60655pc0dSlGI78uqHGOvGfOIPlA_a7eOkFWumzzB8WJBYZph323DYQbO4otE67Mis1pX9O8JLmBNOYCEXLVJzKcJG8vaehiynsg1vSKnRloVpJqHh1BnwvO57Atlz6PK_lKAejPVpAMR1EixEDT3tQ5Q-hH_sK6WYIPEFzh6eLWifRRcxzKz8iee2c-kxEYc3Hzik8UYDUPN8kC5D_KJr7Q2YXjb89laei0tl7o4jDKnXfxbtgpC1bjS5eaBIZLMn5DFhZKXyDkDFUkc4um8nQ0MzPzAgAXKA=w1175-h781-no

---

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">43% di Sconto </span><br />
                <span class="subSconto hide-for-small">Promozione valida fino al 29 Febbraio 2016</span><br>
            </a>
        </div>
</div>
<hr>
<p></p>
<section class="applicazioni domande">

    <div class="row align-stretch ">
            <div class="columns">
                    <h4>Società sportive</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/919ebeee2c1efbc7e9e6de7755b5b8e3c83a9c9c_calcio.jpg" />

                    <p class="callout">
                        Il decreto Balduzzi <strong>obbliga</strong> tutte le società sportive a dotardi si un defibrillatore entro <strong>Giugno 2016</strong>!
                    </p>
                    <h5>Mettiti in regola</h5>
                    <p>
                        Con il Defibrillatore Philips sei <strong>a norma di legge</strong>. Corrisponde infatti a quanto richiesto dal decreto Balduzzi.<br>
                        Ricorda: <strong>il defibrillatore deve essere presente anche durante gli allenamenti!</strong>
                    </p>
                    <h5>Sempre pronto all'uso</h5>
                    <p>
                        Il Defibrillatore Philips è <strong>sempre pronto all'uso</strong>. E' dotato di una batteria che lo rende autonomo dalla rete elettrica.
                    </p>
                    <h5>Per adulti e bambini</h5>
                    <p>
                        Il Defibrillatore Philis rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.
                    </p>
                    <h5>Formazione</h5>
                    <p>
                        Con l'acquisto di un Defibrillatore Philips, <strong>ti aiutiamo ad organizzare corsi di fomazione</strong> presso la tua struttura sportiva.
                    </p>

            </div>
            <div class="columns">
                    <h4>Amministrazioni Pubbliche</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/2d9d88f3fab38c1c4d871a85694d5540dbe49543_aed0210-tcox-1006b-travel.jpg" />

                    <p class="callout">
                        Nel 65% dei casi l’arresto cardiaco colpisce in presenza di testimoni e <strong>il 60% di questi eventi accade in luoghi pubblci</strong>
                    </p>

                    <h5>A norma di legge</h5>
                    <p>
                        Il Defibrillatore Philips è dotato delle certificazioni richieste dalla legge italiana. E' inoltre certificato presso la <strong>FDA americana</strong>, che garantisce standard molto rigorosi.
                    </p>
                    <h5>Posizionabile in qualsiasi luogo</h5>
                    <p>
                        Il Defibrillatore Philips, può essere posizionato anche all'aperto con l'usilio di appositi accessori come Colonnine o Teche riscaldate per esterni.
                    </p>
                    <h5>Telecontrollo</h5>
                    <p>
                        Può essere dotato di un modulo di telecontrollo per il <strong>monitoraggio a distanza dei defibrillatori h 24</strong>. Il sistema permette <strong>l'allertamento automatico dei soccorsi</strong> e la comunicazione diretta con un operatore del 118.
                    </p>
                    <h5>Mercato elettronico</h5>
                    <p>
                        Il Defibrillatore Philips può essere acquistato tramite le piattaforme <strong>Consip o Mepa</strong>
                    </p>

            </div>
    </div>

    <%= partial "partials/rowCallToAction" %>

    <div class="row align-stretch">
            <div class="columns">
                    <h4>Aziende</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/121591cdf2646d185980abeae004d91730f1140c_ecs0708-dl080731_fr3_0423.jpg" />
                    <p class="callout">
                        Nei luoghi di lavoro, ogni anno, si verificano <strong>10mila casi di arresto cardiaco</strong>.
                    </p>
                    <h5>Sicurezza per i tuoi dipendenti</h5>
                    <p>
                        Con un defibrillatore la sopravvivenza potrebbe aumentare dal 5% al 60%.
                    </p>
                    <h5>Formazione</h5>
                    <p>
                        Con l'acquisto di un Defibrillatore Philips, <strong>ti aiutiamo ad organizzare corsi di fomazione</strong> presso la tua azienda.
                    </p>
                    <h5>Sponsorizzazioni</h5>
                    <p>
                        Il Defirillaotre può essere una buona sponsorizzazione. <strong>Donare un defibrillatore permette di salvare vite</strong>!
                    </p>


            </div>
            <div class="columns">
                <h4>Soccorritori</h4>
                <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/161eb049548e536da2c646fd32bd0bf92e181e3b_ecs0611-tp9674.jpg" />
                <p  class="callout">
                    <strong>Ogni minuto che passa</strong> diminuisce la probabilità di salvare una persona in arresto cardiaco del 20% ?????
                </p>
                <h5>Subito pronto</h5>
                <p>
                    Gli <strong>elettrodi SMART II possono essere utilizzati su pazienti adulti e pediatrici</strong>. Eliminano la necessità
                    di acquistare vari set di elettrodi per tipi di pazienti diversi.
                </p>
                <h5>Semplice e veloce</h5>
                <p>
                    Un design essenziale e <strong>istruzioni vocali chiare</strong>,
                    comprese quelle per la rianimazione
                    cardiopolmonare, contribuiscono a infondere
                    la sicurezza necessaria per trattare una vittima
                    di arresto cardiaco.
                </p>
                <h5>Sempre utilizzabile</h5>
                <p>
                    <strong>In caso di uso i dati vengono trasferiti tramite una porta di comunicazione a infrarossi</strong>. Una facile
                    trasmissione dei dati a uno smartphone o PC senza problemi
                    di compatibilità con cavi o hardware.
                </p>
            </div>

    </div>

    <%= partial "partials/rowCallToAction" %>

    <div class="row align-stretch">
            <div class="columns">
                    <h4>Condomini</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6badcedce2e28a86a0368dac4f0620228949f27a_condominio.jpg" />
                    <p  class="callout">
                        <strong>Più del 70%</strong> degli episodi di arresto cardiaco improvviso si verificano sul divano di casa casa
                    </p>
                    <h5>Sicurezza per la tua famiglia</h5>
                    <p>
                        Un defibrillatore nel tuo condominio <strong>aumenta la sicurezza </strong> per te e la tua famiglia.
                    </p>
                    <h5>5 Minuti</h5>
                    <p>
                        Dopo soltanto 5 minuti di tempo, <strong>le possibilità di salvezza scendono al 50%</strong>. Per la persona colpita da arresto cardiaco, ogni minuto che passa è di vitale importanza!
                    </p>
                    <h5>Formazione</h5>
                    <p>
                        Con l'acquisto di un Defibrillatore Philips, <strong>ti aiutiamo ad organizzare corsi di fomazione</strong> presso la tua azienda.
                    </p>


            </div>
            <div class="columns">
                    <h4>Privati cittadini</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/e36f509014e292ef015266cb6cb22c50d9ff878e_b_fpx0033.jpg" />
                    <p  class="callout">
                        In Italia <strong>164 persone al giorno</strong> vengono colpite da arresto cardiaco. Oggi <strong>solo il 5%</strong> si salva!
                    </p>
                    <h5>Salvarsi si può</h5>
                    <p>
                        L'uso del Defibrillatore può aumentare le possibilità di sopravvivenza del 70%. E' importante che sia presente in ogni luogo.
                    </p>
                    <h5>5 Minuti</h5>
                    <p>
                        Dopo soltanto 5 minuti di tempo, <strong>le possibilità di salvezza scendono al 50%</strong>. Per la persona colpita da arresto cardiaco, ogni minuto che passa è di vitale importanza!
                    </p>
                    <h5>Formazione</h5>
                    <p>
                        <strong>Solo l’1% della popolazione conosce le tecniche di primo soccorso</strong> Basic Life Support - Defibrillation (BLSD). Non perdere tempo ed effettua un corso!
                    </p>
            </div>
    </div>

</section>
<hr>
<%= partial "partials/form" %>
<hr>
<div class="row">
    <h2>Le risposte alle vostre domande</h2>
</div>
<div class="row align-stretch domande">
    <div class="columns">
        <h5>Tutti possono usare un defibrillatore?</h5>
        <p>
            Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare un defibrillatore.

            Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
        </p>
    </div>
    <div class="columns">
        <h5>Di chi è la responsabilità in caso di decesso?</h5>
        <p>
            <strong>La resposabilità è del defibrillatore</strong>
            Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grado di diagnosticare se veramente il paziente ha bisogno di una scarica. <strong>Nessuna possibilità di errore</strong>!
        </p>
    </div>
    <div class="columns">
        <h5>Come si usa?</h5>
        <p>
            <strong>Il defibrillatore Philips ti guida con la voce</strong>. Nulla da leggere o da interpretare.
            Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
        </p>
    </div>
</div>

<div class="row align-stretch domande">
    <div class="columns">
        <h5>Può essere usato sui bambini?</h5>
        <p>
            Il Defibrillatore Philis rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.

        </p>
    </div>
    <div class="columns">
        <h5>Come mi accorgo se non funziona?</h5>
        <p>
            Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
        </p>
    </div>
    <div class="columns">
        <h5>Di cosa ho bisongo per tenerlo in funzione?</h5>
        <p>
            Il Defibrillatore Philips funziona in completa autonomia.
            E' infatti dotato una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita di nessuna manutenzionemanutenzione.
        </p>
    </div>
</div>
<div class="row align-stretch domande">
    <div class="columns">
        <h5>Di quale manutenzione ha bisogno?</h5>
        <p>
            <ul class="subheader">
                <li>Ogni 2 anni è necessario sostituire le piastre</li>
                <li>Ogni 4 anni è necessario sostituire la batteria</li>
            </ul>
        </p>
    </div>
    <div class="columns">
        <h5>Quanto costano le parti consumabili?</h5>
        <p>
            <ul class="subheader">
                <li>Batteria: <strong>165 Euro + IVA</strong></li>
                <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
            </ul>
        </p>
    </div>
    <div class="columns">
        <h5>Cosa succede in caso di uso?</h5>
        <p>
            In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
        </p>
    </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>
<div class="row">
    <div class="columns">
        <h4 class="subheader">L'uso del defibrillatore su un adulto</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YDjkkgblBjM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="columns">
        <h4 class="subheader">L'uso del defibrillatore su un ragazzino</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/otV2laDO16o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <h2>Perchè scegliere un defibrillatore PHILIPS</h2>
</div>
<div class="row align-stretch">
    <div class="columns domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> 8 anni di Garanzia</h5>
            <p>
                Su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
            </p>
        </div>

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Installazione e collaudo presso la vostra sede</h5>
            <p>
                Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico senza costi aggiuntivi</strong>. Non dovrai preoccuparti di nulla!
            </p>
        </div>

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Aggiornamenti inclusi</h5>
            <p>
                In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.
                La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
            </p>
        </div>

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Centri Assistenza in tutta Italia</h5>
            <p>
                Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
            </p>
        </div>

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Certificato FDA (Food and Drug Administration)</h5>
            <p>
                Il mercato americano è il primo e maggiore mercato mondiale per la vendita di defibrillatori: la Certificazione FDA (ente americano sulla sicurezza) garantisce l’applicazioni di standard molto rigorosi nella verifica di affidabilità.
            </p>
        </div>

    </div>
    <div class="columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/ab4abd0a2ca392b565177bcd3f2dfa7b1fb2ec20_aed0310-dl-091209-2906f.jpg" />
    </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr>
<div class="row">
    <h4 class="subheader">Consigliati da:</h4>
</div>
<div class="row medium-unstack align-stretch">
    <div class="columns">
        <img src="https://lh3.googleusercontent.com/g6_oBmMbwa8Dgg444xp9HIheZCax3TGFv9TB4bsVz8ef_T06u4tMZqnNf5s4TqYtfzxPD_8uQfXLYqxcVDq27Tx2wHFW-KbKQS_iWaOSIapDWU84TnxX3KSzxTkCR7rZwJbUJYsJf2ctkHo4vh735-LKNGDF_6oNFCkDtIqFmdz_OanXmFby_a-WyYDMQysmr54jF4xETUHOQ8hOlh4ZkABFttKqCZa-9JkuVIPUfak-jXLVunP1Gl5PRR1lKK0aaJ6IxXj0m-_GOC6rLDRfbMqdHJwKUu8QaebR8MdT1FCAsEgdokW3CwAV7x37Ik120sW74tCdGsn8njqXMARAzf1zXIxA0bHcSlRgJx1vtsCZadKcmYZdc6MKwMKRkbrh_eATSsaFkeqf3MLZnmoBrkqjUV3wg_CazeRHSG46m5OaXrqVVvDepBmVEn8577_VOvmIUX5rAeqSqU5MOSfeLos5f-tf3BnHrNT59fsSFd7DUaq5qAXonWuZ6VpfaRuBfAYmD0U-O3asGjh_LsoT7eumqECo3tGvZivIKanubDTAcT7_SNYgYrs-2gycrSOVbZOtgQ=w1000-h500-no">
    </div>
    <div class="columns">
        <img src="https://lh3.googleusercontent.com/yX1-Ef1wrjpFzvWpo_koFOssevmSDeHp3cxFSXyEofgTw3dkRa5avd6sNBxwTSYNw_NpkVgzXs6g3gGrcGJ4rX4qHfI1kMo0qZZBu4Q7DcwxitS_InsuCI0bdeQe8EnwNuDO-4sNv26yqfQcDUv51D7WZgGwf91oSNDBvxtxiHWWg3uiga85HqBr3VOFeiTgUZ5tgxhoBS-_sNSZ953SQwIaIoXkR8eq3dB4GzAI75yicxpWbWQvpEjyArhGmrYM2TBRaZGm7eTnkdDA5UoQAMVQBkbr6I4UdLqg1PIyEVmuCmMN8ToaaYaUVsODcpm14CIP3f6hzvxq7eSP9zg_V_Y2hE937zD2pDitfMSjfKaPjeZB6b4h-1nKVZU1aG8RaoOarrIeBjpC7TetTpIh9-sZKezP0CqNq-N_-VEmHtAeFunPqSgQKVldBWcyNA__BaOITIXJ3rKhePRf1Vsr_QDlLROKYWc9LXGJ_38Pu4K3q6PGjRXKWGiQYcBymYXi5kojfzVDqgQNlVtk7TLxiKPP-YPSwaaGUGlJr0aqw4a6YrWpsbw6YYMl_hNUcoUZb26r0A=w1000-h500-no">
    </div>
    <div class="columns">
        <img src="https://lh3.googleusercontent.com/eCdyQ42IiQK1qatopo0mPVW9yC-NB6NJQDPHNnoRroV3cR4vodmdqr3JxTbLM52q7MFF84EC_3smWarWjCkv2ldlSToBb8vRp336AZ0o1_tzOx416IrPF3CRW-H1cRwhAZY9JnXhQ5288h22lP-IwIVi-YpmeWtzRFwbTEiw7jDrPF_DvBmg1cma9owuUpgI9Jcdy2gLUuLgMKvsgFfnAMnsp9hIVM7B2CbaF5P_3d4XA9gI3sKldLxPG1j8L88iMT2JM2QaCoA9HleM-VCgM8Zld39LSi6zcf9g67tX2WqCVQt-4YISk9f0bmVJOEcLHfspj0OLtOnD4yoqLLbfFjlX76bZX1nzPzxIkS0y8hs2tWeoxaDVJP_W0GVGgjHhnkWOPy2VYYDvbkki_Ge4LvnpvUyJuNhhNjs37Lrf3gfQXMgZyCHb9Jr9-JX16e8D15QStb1RSCn-eSME-ENF7AWa4OIF6ErNSNA26Q2lLdedfz_Fyaxe3i5e7YUyPEwiQfPNwsZES5Vpn3cIodMAJL5fnWLkZ8HDCoHq_H-z3kWAhhr1HS2Ef1rBwLXWWkvv3mOAAQ=w1000-h500-no">
    </div>
    <div class="columns">
        <img src="https://lh3.googleusercontent.com/L5nh1J5IvycUjTC0wJ1AXRSj3XPq-LYvGxOtnrDaSOXLVX8OvE-m7B4yNmrV_Wd9iNPI-L3fV6WFvwGmhV714qCMh3H1HREVBA04SAUAGUqy66wbG3ee-BzfUZ4Eg_oJD3l9PSceXXNsETVHVr8LnXGq22f4dh5wH3pfe1ZRV8viQ_VNQwQ_HR81KR_C9itGUMrsvm4PJZl9dYIanaORkhr9ugrJcscL1n5xf1w_34YZBT9ClTiW9BhQBzJ3hgZ7QBxIckIMQiIDw4R2EJTKGA4AGTy1z3EOXm_x_iTMNfFI2pI3aWJ5FzYFLjEwwayyWmgopxzNTlWaDkDAl6B36ZUnsg1Ln4gK9OdEUgW2ZVs0wWl4Uz7YjDqt-eLCFqq0wZtSYKveGkTGfcYP7S4_afmOPtX6wzEOkRu9FzsgxRnJYkVSsyAqJ01EnVA9T1bUR6px7wjtzih2yuh5Bbv2kqDg0makGd0E9-b20l4oi1UuXfykGADL7g7pRQXFCo2DMWyjqfbKjfjG8TFQk2a7ymB5aCqm8iknApntgmyeDE2vQ2XbJ19iGpu4HNtQQQ7JO1oyoA=w1000-h500-no">
    </div>
    <div class="columns">
        <img src="https://lh3.googleusercontent.com/e6kzDroqOaIkKXrS9sF30zVqAxdP4hjsxhF0WmvLvn_YwuejQZ6m177oloH3Yqh7PV4CuWmd74Yshqsv4OqBZ_1mi6ScA4FeyPjFnY2MiS3_TnVMGmT73JGNYKozMjGnV9HKQ3kjbdAXYt6bPXvbsoIojr9FHoej_vt-FsL3j1_FP96WNK0ZjJ4FsN3pYCu5TOxe3BHI-EPWSy1WOLDoklsrTul0Xgykp17-4Zie6w_t0xGMCLA3bX3XarpN6nuWMbvtEfXiJKfSpcRf74BrRtANcAgVOQ6_oLHnFIgjCZkpF4HIzV7X0owYn4YWcS6wAsKVaAaFId7RrlrUF5SItaq1n4kQIt3Kex3DYsqtKdtxiv3I6Wl6mbELRHnVDdAO7CVFJPHb8T6VRkJnsuJ7mOkpw8Z-8IkcXGu97hVKEkxGjQ4HqIQsQfrGcCPDl0wTog7Su06T6Q0H7X0rPTKnysv-U2ft0MT6t7xn8aWN_aisSAGRsWLnVXSZl2MA-CSDgmQxjimzN7pBLDTFpqx7eAVrMeOKn7qaxA2ZnkK2CSMFEmfGY3DZIGuzmWxvcaeeGFBaHw=w1000-h500-no">
    </div>

</div>
