---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Defibrillatore Philips
    seconda_riga: Il più venduto al mondo
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4f523e7284d5c7e7a0f10741793f17f9a3808759_dae-grande-2.png

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->

---

<%= partial "partials/promo_section" %>

<hr>
<p></p>
<section class="applicazioni domande">

    <div class="row align-stretch ">
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Per le società sportive</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/919ebeee2c1efbc7e9e6de7755b5b8e3c83a9c9c_calcio.jpg" />

                    <p class="callout">
                        A seguito del decreto Balduzzi tutte le società sportive hanno l’<strong>obbligo</strong> di dotarsi di un defibrillatore entro <strong>Giugno 2016</strong>!
                    </p>
                    <span class="show-for-medium">
                        <h5>Mettiti in regola</h5>
                        <p>
                            Il defibrillatore Philips <strong>è a norma di legge</strong> perché risponde a tutti i requisiti del decreto Balduzzi. Ricorda che il defibrillatore deve essere presente anche durante gli allenamenti.
                        </p>
                        <h5>Sempre pronto all'uso</h5>
                        <p>
                            Il defibrillatore Philips è <strong>pronto ad essere utilizzato</strong> in qualsiasi momento. E' dotato di una batteria che lo rende autonomo dalla rete elettrica.
                        </p>
                        <h5>Per adulti e bambini</h5>
                        <p>
                            Il defibrillatore Philips ha in dotazione un'<strong>unica coppia di elettrodi</strong> validi sia per adulti che per bambini, grazie all'ausilio di una semplice chiavetta pediatrica.
                        </p>
                        <h5>Formazione</h5>
                        <p>
                            Con l'acquisto di un defibrillatore Philips ti aiutiamo ad organizzare il <strong>corso di formazione</strong> direttamente presso la tua struttura sportiva.
                        </p>
                    </span>

            </div>
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Per le amministrazioni pubbliche</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/8a03b289cee6c2ecd3638882bbafcfecfeb408e8_cf005739.jpg" />

                    <p class="callout">
                        Il 65% di casi di arresto cardiaco colpisce in presenza di testimoni e il 60% di questi eventi <strong>accade in luoghi pubblici</strong>.
                    </p>
                    <span class="show-for-medium">
                        <h5>A norma di legge</h5>
                        <p>
                            Il Defibrillatore Philips è dotato di tutte le certificazioni richieste dalla legge italiana. È inoltre certificato presso la <strong>FDA americana</strong>, che sottopone il defibrillatore a test molto rigorosi e ne garantisce alta efficenza ed affidabilità.
                        </p>
                        <h5>Posizionabile ovunque</h5>
                        <p>
                            Il Defibrillatore Philips può essere installato in locali chiusi grazie all'utilizzo di <strong>teche a muro</strong> o anche all'aperto con l'ausilio di <strong>colonnine riscaldate</strong> per esterni.
                        </p>
                        <h5>Sicurezza</h5>
                        <p>
                            Nel Defibrillatore Philips può essere installato il dispositivo di telecontrollo per il monitoraggio a distanza dei defibrillatori h 24. Il sistema permette <strong>l'avviso automatico dei soccorsi</strong> e la comunicazione diretta con l'operatore 118.
                        </p>
                        <h5>Mercato elettronico</h5>
                        <p>
                            Il Defibrillatore Philips può essere acquistato tramite le piattaforme <strong>Consip o Mepa</strong>
                        </p>
                    </span>

            </div>
    </div>

    <%= partial "partials/rowCallToAction" %>

    <div class="row align-stretch">
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Per le aziende</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/121591cdf2646d185980abeae004d91730f1140c_ecs0708-dl080731_fr3_0423.jpg" />
                    <p class="callout">
                        Ogni anno sui luoghi di lavoro si verificano <strong>10.000 casi di arresto cardiaco</strong>.
                    </p>
                    <span class="show-for-medium">
                        <h5>Sicurezza per i tuoi dipendenti</h5>
                        <p>
                            Con l'uso tempestivo del defibrillatore la <strong>sopravvivenza</strong> potrebbe aumentare fino al 60%.
                        </p>
                        <h5>Formazione</h5>
                        <p>
                            Con l'acquisto di un defibrillatore Philips ti aiutiamo ad organizzare il <strong>corso di formazione</strong> direttamente presso la tua azienda.
                        </p>
                        <h5>Sponsorizzazioni</h5>
                        <p>
                            <strong>Donare un defibrillatore</strong> permette di salvare vite! Puoi sponsorizzare la tua azienda donando il dispositivo Philips alla tua città o un'associazione locale. Se lo desideri ti aiutiamo ad avere <strong>visibilità nella tua zona</strong> pubblicando la notizia sui nostri canali.
                        </p>
                    </span>


            </div>
            <div class="small-12 medium-12 large-6 columns">
                <h4>Per i soccorritori</h4>
                <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4da338f1271dc84f7f6e54e338111dd516dcab1e_fpp9213.jpg" />
                <p  class="callout">
                    <strong>Ogni minuto che passa</strong> diminuisce la probabilità di salvare una persona in arresto cardiaco del 20%
                </p>
                <span class="show-for-medium">
                    <h5>Una sola coppia di elettrodi</h5>
                    <p>
                        Con l'ausilio degli elettrodi SMART II Philips, utilizzi un'unica coppia di elettrodi su pazienti <strong>adulti e pediatrici</strong>. La chiavetta pediatrica ti consente di intervenire rapidamente e risparmiare secondi preziosi.
                    </p>
                    <h5>Semplice e veloce</h5>
                    <p>
                        Il <strong>design</strong> essenziale del defibrillatore Philips e le chiare <strong>istruzioni vocali</strong> aiutano te e la tua squadra a gestire gli eventi con rapidità ed efficenza.
                    </p>
                    <h5>Trasferimento dati</h5>
                    <p>
                        In caso di utilizzo i dati vengono trasferiti direttamente alla centrale operativa tramite una <strong>porta ad infrarossi</strong>. I dati possono essere trasmessi velocemente da uno smartphone o da un PC senza problemi di compatibilità e senza cavi.
                    </p>
                </span>
            </div>

    </div>

    <%= partial "partials/rowCallToAction" %>

    <div class="row align-stretch">
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Per i condomini</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6badcedce2e28a86a0368dac4f0620228949f27a_condominio.jpg" />
                    <p  class="callout">
                        Più del 70% degli arresti cardiaci improvvisi si verificano in casa.<br><br>
                    </p>
                    <span class="show-for-medium">
                    <h5>Sicurezza</h5>
                        <p>
                            Vista l'alta percentuale di arresti cardiaci che si verificano tra <strong>mura domestiche</strong>, sarebbe ideale dotare il proprio condominio di un defibrillatore.
                        </p>
                        <h5>5 Minuti</h5>
                        <p>
                            Dopo soltanto 5 minuti di tempo, le possibilità di sopravvivenza <strong>diminuiscono al 50%</strong>. Per la persona colpita da arresto cardiaco ogni minuto è molto prezioso.
                        </p>
                        <h5>Formazione</h5>
                        <p>
                            Con l'acquisto di un defibrillatore Philips ti aiutiamo ad organizzare il <strong>corso di formazione</strong> direttamente presso il tuo condominio o presso una delle sedi di formazione.
                        </p>
                    </span>


            </div>
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Per i singoli cittadini</h4>
                    <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/e36f509014e292ef015266cb6cb22c50d9ff878e_b_fpx0033.jpg" />
                    <p  class="callout">
                        In Italia 164 persone al giorno vengono colpite da arresto cardiaco. Oggi <strong>solo il 5% viene salvato</strong>.
                    </p>
                    <span class="show-for-medium">
                    <h5>Intervento rapido</h5>
                        <p>
                            L'uso tempestivo del defibrillatore nei primissimi minuti <strong>può aumentare del 70%</strong> la possibilità di sopravvivenza. È importante che sul territorio ci sia una diffusione capillare di defibrillatori.
                        </p>
                        <h5>Sopravvivenza</h5>
                        <p>
                            Dopo soltanto 5 minuti di tempo, le possibilità di sopravvivenza <strong>diminuiscono al 50%</strong>. L'ambulanza in media impiega 10 minuti a raggiungere il luogo dell'evento.
                        </p>
                        <h5>Formazione</h5>
                        <p>
                            Solo <strong>l’1% della popolazione</strong> conosce le tecniche di primo soccorso BLSD(Basic Life Support Defibrillation) con l'ausilio del defibrillatore. Non perdere tempo e frequenta un corso.
                        </p>
                    </span>
            </div>
    </div>

</section>
<hr>
<section class="show-for-medium">
    <div class="row">
        <div class="columns">
            <h4>Speciali convenzioni con <strong>LND</strong> della FIGC - <strong>FISE</strong> - <strong>ILCOR Comunità</strong>:</h4>
        </div>
    </div>
    <div class="row medium-unstack align-stretch">
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/ec85a64be853c56d7195c7076adba69857a26f3d_csi.png">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/a7eeb95c1da5973f3d0653a94f69aff862dd5c61_logo-fip.png">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6114dac7f5ef54486d094f548fff458417fae280_logo_libertas.jpg">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4b9fe64d3a002c1c7b3ed1080b6267d061e981a0_logo_fibs.jpeg">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/880c70d35e92438361dd570d7a36be20047649ba_logo_aics.jpeg">
        </div>
    </div>
    <div class="row">
        <div class="columns">

        </div>
    </div>
</section>
<section class="show-for-small-only">
    <div class="row">
        <div class="columns">
            <h4>Speciali convenzioni con:</h4>
        </div>
    </div>
    <div class="row small-unstack align-stretch">
        <div class="columns domande">
            <p>LND - Lega Nazionele Dilettanti della FIGC</p>

            <p>FISE - Federazione Italiana Sport Equestri</p>

            <p>CSI - Centro sportivo italiano</p>

            <p>Fip - Federazione Italiana Pallacanestro</p>

            <p>FIBS - Federazione Italiana Baseball Softball</p>

            <p>AICS - Associazione Italiana Cultura e Sport</p>

            <p>ILCOR Comunità</p>
        </div>
    </div>
    <div class="row">
        <div class="columns">

        </div>
    </div>
</section>
<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<span class="show-for-medium">
    <hr>
    <div class="row ">
        <div class="columns">
            <h2>Le risposte alle tue domande</h2>
        </div>
    </div>
    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Chi può usare il defibrillatore?</h5>
            <p>
                Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare il defibrillatore.

                Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi presso la tua struttura</strong> o aiutarti a scegliere la soluzione migliore.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Di chi è la responsabilità in caso di decesso?</h5>
            <p>
                <strong>La resposabilità è del defibrillatore.</strong>
                Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga.</strong><br>Nessuna possibilità di errore!
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>E' facile da usare?</h5>
            <p>
                <strong>Il defibrillatore Philips ti guida con la voce</strong>. Nulla da leggere o da interpretare.
                Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
            </p>
        </div>
    </div>

    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Può essere usato sui bambini?</h5>
            <p>
                Il defibrillatore Philips ha in dotazione <strong>un'unica coppia di elettrodi</strong> validi sia per adulti che per bambini, grazie all'ausilio di una semplice chiavetta pediatrica.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Come mi accorgo se non funziona?</h5>
            <p>
                Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se c'è qualche malfunzionamento e lo <strong>segnala mediante una spia luminosa e sonora</strong>.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Necessita di energia elettrica?</h5>
            <p>
                Il Defibrillatore Philips funziona in completa autonomia.
                E' infatti dotato di una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita di nessun collegamento alla presa elettrica.
            </p>
        </div>
    </div>
    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Di quale manutenzione ha bisogno?</h5>
            <p>
                <ul class="subheader">
                    <li>Ogni 2 anni è necessario sostituire gli elettrodi</li>
                    <li>Ogni 4 anni è necessario sostituire la batteria</li>
                </ul>
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Quanto costano le parti consumabili?</h5>
            <p>
                <ul class="subheader">
                    <li>Batteria: <strong>165 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                </ul>
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Cosa fare dopo l'utilizzo?</h5>
            <p>
                Durante l'utilizzo, il defibrillatore registra tutti gli eventi. I dati verranno poi scaricati e trasmessi alla centrale operativa 118. <strong>Un nostro tecnico sarà a disposizione per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
            </p>
        </div>
    </div>

<%= partial "partials/rowCallToAction" %>
</span>



<hr class="show-for-medium">
<div class="row show-for-medium">
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">L'uso del defibrillatore su un adulto</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YDjkkgblBjM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">L'uso del defibrillatore su un ragazzino</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/otV2laDO16o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="columns">
        <h2>Perchè scegliere un defibrillatore PHILIPS</h2>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> 8 anni di Garanzia</h5>
            <p class="show-for-medium">
                Su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
            </p>
        </div>
    </div>

    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Installazione e collaudo presso la vostra sede</h5>
            <p class="show-for-medium">
                Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico senza costi aggiuntivi</strong>. Non dovrai preoccuparti di nulla!
            </p>
        </div>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Aggiornamenti inclusi</h5>
            <p class="show-for-medium">
                In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.
                La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
            </p>
        </div>
    </div>
    <div class="small-12 medium-12 large-6  columns domande">

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Centri Assistenza in tutta Italia</h5>
            <p class="show-for-medium">
                Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
            </p>
        </div>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 large-6  columns domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Certificato FDA (Food and Drug Administration)</h5>
            <p class="show-for-medium">
                Il mercato americano è il primo e maggiore mercato mondiale per la vendita di defibrillatori: la Certificazione FDA (ente americano sulla sicurezza) garantisce l’applicazioni di standard molto rigorosi nella verifica di affidabilità.
            </p>
        </div>

    </div>
    <div class="small-12 medium-12 large-6  columns">
        <p>
            <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/ab4abd0a2ca392b565177bcd3f2dfa7b1fb2ec20_aed0310-dl-091209-2906f.jpg" /> -->
        </p>
    </div>
</div>

<%= partial "partials/rowCallToAction" %>

<hr class="show-for-large">
<div class="row show-for-large">
    <h2>Oltre 1.500 clienti soddisfatti</h2>
</div>
<br>
<div class="row show-for-large">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6e8a76a4f94874a4d186ba1db1afb444c0e4c0ba_loghi-defibrillatori.png">
    </div>
</div>
