---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Defibrillatore Philips
    seconda_riga: Il più venduto al mondo
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4f523e7284d5c7e7a0f10741793f17f9a3808759_dae-grande-2.png

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->

---

<%= partial "partials/promo_section" %>
<hr>

<div class="row align-stretch ">
        <div class="small-12 medium-12 large-6 columns">
                <h3>Per le Società Sportive</h3>
                <a href="/sport">
                    <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/1719dab3d10b1593a2cc34a81353969561147c89_societa-sportive.jpg" />
                </a>
                 <p></p>
                <p class="callout center">
                    A seguito del decreto Balduzzi tutte le società sportive hanno l’<strong>obbligo</strong> di dotarsi di un defibrillatore entro <strong>Giugno 2017</strong>!
                </p>

                <p>
                    <ul>
                        <li>
                            A norma di legge secondo il decreto Balduzzi
                        </li>
                        <li>
                            Sempre pronto all'uso sul campo o nella tua palestra
                        </li>
                        <li>
                            Adatto ad adulti e bambini
                        </li>
                        <li>
                            Facile da usare da allenatori, genitori e ragazzi stessi
                        </li>
                        <li>
                            Ideale per qualsiasi sport
                        </li>
                    </ul>
                </p>
                <a class="hollow button" href="/sport">Scopri tutti i vantaggi per le Società Sportive!</a>

        </div>
        <div class="small-12 medium-12 large-6 columns">
                <h3>Per il tuo Luogo di Lavoro</h3>

                <a href="/aziende">
                    <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/c5ad6d57d74e9fddc5c86a0af3684a161b819eb4_luoghi-di-lavoro.jpg" />
                </a>
                <p></p>
                <p class="callout center">
                    Ogni settimana 70 decessi per arresto cardiaco avvengono <strong>nei luoghi di lavoro</strong>. Non perdere tempo!
                </p>
                <p>
                    <ul>
                        <li>
                            Super Ammortamento al 140%
                        </li>
                        <li>
                            Riduzione premio INAIL
                        </li>
                        <li>
                            Corsi di formazione gratuiti
                        </li>
                        <li>
                            Deducibilità donazioni
                        </li>
                        <li>
                            Sconto del 43%
                        </li>
                    </ul>
                </p>
                <a class="hollow button" href="/aziende">Scopri tutti i vantaggi per la tua Azienda!</a>

        </div>
</div>
<hr>
<section class="applicazioni domande">

    <div class="row">
        <div class="columns">
            <h2>Defibrillatore Semiautomatico Philips -  Ovunque</h2>
        </div>
    </div>

    <div class="row align-stretch ">
        <div class="small-12 medium-12 large-6 columns">
                <h4>Condomini</h4>
                <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/bb1f1332b619ce011db90b23c5d7c999ac0adf66_casa.jpg" />
                <p  class="callout">
                    Circa il <strong>75% degli arresti cardiaci avviene tra le mura domestiche</strong>. Un defibrillatore in un condominio garantisce un tempestivo soccorso.<br>
                </p>
                <span class="show-for-medium">
                <h5>Sicurezza</h5>
                    <p>
                        Vista l'alta percentuale di arresti cardiaci che si verificano tra <strong>mura domestiche</strong>, sarebbe ideale dotare il proprio condominio di un DAE.
                    </p>
                    <h5>5 Minuti</h5>
                    <p>
                        Dopo soltanto 5 minuti di tempo, le possibilità di sopravvivenza <strong>diminuiscono al 50%</strong>. Per la persona colpita da arresto cardiaco ogni minuto è molto prezioso.
                    </p>
                    <h5>Formazione</h5>
                    <p>
                        Con l'acquisto del nostro dispositivo ti aiutiamo ad organizzare il <strong>corso di formazione</strong> direttamente presso il tuo condominio o presso una delle sedi di formazione.
                    </p>
                </span>


        </div>

            <div class="small-12 medium-12 large-6 columns">
                <h4>Soccorritori</h4>
                <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4da338f1271dc84f7f6e54e338111dd516dcab1e_fpp9213.jpg" />
                <p  class="callout">
                    <strong>Ogni minuto che passa</strong> diminuisce la probabilità di salvare una persona in arresto cardiaco del 20%
                </p>
                <span class="show-for-medium">
                    <h5>Una sola coppia di elettrodi</h5>
                    <p>
                        Con l'ausilio degli elettrodi SMART II Philips, utilizzi un'unica coppia di elettrodi su pazienti <strong>adulti e pediatrici</strong>. La chiavetta pediatrica ti consente di intervenire rapidamente e risparmiare secondi preziosi.
                    </p>
                    <h5>Semplice e veloce</h5>
                    <p>
                        Il <strong>design</strong> essenziale del nostro dispositivo e le chiare <strong>istruzioni vocali</strong> aiutano te e la tua squadra a gestire gli eventi con rapidità ed efficenza.
                    </p>
                    <h5>Trasferimento dati</h5>
                    <p>
                        In caso di utilizzo i dati vengono trasferiti direttamente alla centrale operativa tramite una <strong>porta ad infrarossi</strong>. I dati possono essere trasmessi velocemente da uno smartphone o da un PC senza problemi di compatibilità e senza cavi.
                    </p>
                </span>
            </div>
    </div>


    <%= partial "partials/rowCallToAction" %>

    <div class="row align-stretch">
        <div class="small-12 medium-12 large-6 columns">
                <h4>Amministrazioni pubbliche</h4>
                <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/84e39359c483658c60c04fc00898d7645311e631_pubblica-amministrazione.png" />

                <p class="callout">
                    Il 65% di casi di arresto cardiaco colpisce in presenza di testimoni e il 60% di questi eventi <strong>accade in luoghi pubblici</strong>.
                </p>
                <span class="show-for-medium">
                    <h5>A norma di legge</h5>
                    <p>
                        Il nostro dispositivo è dotato di tutte le certificazioni richieste dalla legge italiana. È inoltre certificato presso la <strong>FDA americana</strong>, che sottopone il dispositivo a test molto rigorosi e ne garantisce alta efficenza ed affidabilità.
                    </p>
                    <h5>Posizionabile ovunque</h5>
                    <p>
                        Il nostro dispositivo può essere installato in locali chiusi grazie all'utilizzo di <strong>teche a muro</strong> o anche all'aperto con l'ausilio di <strong>colonnine riscaldate</strong> per esterni.
                    </p>
                    <h5>Sicurezza</h5>
                    <p>
                        Nel nostro dispositivo può essere installato il dispositivo di telecontrollo per il monitoraggio a distanza dei defibrillatori h 24. Il sistema permette <strong>l'avviso automatico dei soccorsi</strong> e la comunicazione diretta con l'operatore 118.
                    </p>
                    <h5>Mercato elettronico</h5>
                    <p>
                        Il nostro dispositivo può essere acquistato tramite le piattaforme <strong>Consip o Mepa</strong>
                    </p>
                </span>

        </div>
            <div class="small-12 medium-12 large-6 columns">
                    <h4>Singoli cittadini</h4>
                    <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/2a1625c3834a24557914dd821fa2cf9203851fe3_singoli-cittadini.jpg" />
                    <p  class="callout">
                        In Italia 164 persone al giorno vengono colpite da arresto cardiaco. Oggi <strong>solo il 5% viene salvato</strong>.
                    </p>
                    <span class="show-for-medium">
                    <h5>Intervento rapido</h5>
                        <p>
                            L'uso tempestivo del DAE nei primissimi minuti <strong>può aumentare del 70%</strong> la possibilità di sopravvivenza. È importante che sul territorio ci sia una diffusione capillare di defibrillatori.
                        </p>
                        <h5>Sopravvivenza</h5>
                        <p>
                            Dopo soltanto 5 minuti di tempo, le possibilità di sopravvivenza <strong>diminuiscono al 50%</strong>. L'ambulanza in media impiega 10 minuti a raggiungere il luogo dell'evento.
                        </p>
                        <h5>Formazione</h5>
                        <p>
                            Solo <strong>l’1% della popolazione</strong> conosce le tecniche di primo soccorso BLSD(Basic Life Support Defibrillation) con l'ausilio del DAE. Non perdere tempo e frequenta un corso.
                        </p>
                    </span>
            </div>
    </div>

</section>
<hr>
<%= partial "partials/sport" %>
<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>

<span class="show-for-medium">
    <hr>
    <div class="row ">
        <div class="columns">
            <h2>Le risposte alle tue domande</h2>
        </div>
    </div>
    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Chi può usare il defibrillatore?</h5>
            <p>
                Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare il nostro dispositivo.

                Se acquisti nostro dispositivo <strong>possiamo organizzare noi i corsi presso la tua struttura</strong> o aiutarti a scegliere la soluzione migliore.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Di chi è la responsabilità in caso di decesso?</h5>
            <p>
                <strong>La responsabilità è del DAE.</strong>
                Se il paziente non necessita di scarica, <strong>il dispositivo non la eroga.</strong><br>Nessuna possibilità di errore!
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>E' facile da usare?</h5>
            <p>
                <strong>Il nostro dispositivo ti guida con la voce</strong>. Nulla da leggere o da interpretare.
                Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
            </p>
        </div>
    </div>

    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Può essere usato sui bambini?</h5>
            <p>
                Il nostro dispositivo ha in dotazione <strong>un'unica coppia di elettrodi</strong> validi sia per adulti che per bambini, grazie all'ausilio di una semplice chiavetta pediatrica.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Come mi accorgo se non funziona?</h5>
            <p>
                Un test automatico verifica il dispositivo e lo mantiene <strong>pronto all’uso</strong>. Il dispositivo è in grado di capire se c'è qualche malfunzionamento e lo <strong>segnala mediante una spia luminosa e sonora</strong>.
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Necessita di energia elettrica?</h5>
            <p>
                Il nostro dispositivo funziona in completa autonomia.
                E' infatti dotato di una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita di nessun collegamento alla presa elettrica.
            </p>
        </div>
    </div>
    <div class="row align-stretch domande">
        <div class="small-12 medium-12 large-4 columns">
            <h5>Di quale manutenzione ha bisogno?</h5>
            <p>
                <ul class="subheader">
                    <li>Ogni 2 anni è necessario sostituire gli elettrodi</li>
                    <li>Ogni 4 anni è necessario sostituire la batteria</li>
                </ul>
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Quanto costano le parti consumabili?</h5>
            <p>
                <ul class="subheader">
                    <li>Batteria: <strong>174 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi per adulti: <strong>73 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi pediatrici: <strong>114 Euro + IVA</strong></li>
                </ul>
            </p>
        </div>
        <div class="small-12 medium-12 large-4 columns">
            <h5>Cosa fare dopo l'utilizzo?</h5>
            <p>
                Durante l'utilizzo, il nostro dispositivo registra tutti gli eventi. I dati verranno poi scaricati e trasmessi alla centrale operativa 118. <strong>Un nostro tecnico sarà a disposizione per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
            </p>
        </div>
    </div>

<%= partial "partials/rowCallToAction" %>
</span>



<hr class="show-for-medium">
<div class="row show-for-medium">
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">L'uso del defibrillatore su un adulto</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YDjkkgblBjM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="small-12 medium-12 large-6 columns">
        <h4 class="subheader">L'uso del defibrillatore su un ragazzino</h4>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/otV2laDO16o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>

<%= partial "partials/perche_philips" %>

<%= partial "partials/rowCallToAction" %>

<hr class="show-for-large">
<div class="row show-for-large">
    <h2>Oltre 1.500 clienti soddisfatti</h2>
</div>
<br>
<div class="row show-for-large">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6e8a76a4f94874a4d186ba1db1afb444c0e4c0ba_loghi-defibrillatori.png">
    </div>
</div>
